* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    outline: none;
    transition: all 300ms;
    text-transform: capitalize;
}

:root {
    --bg: #EBF0F7;
    --task-bg: #FFFFFF;
    --black: #0000;
    --white: #ffff;
    --color-: linear-gradient(90deg, #2AE9DAff, #86F363ff);
    /* CSS HEX */
    --turquoise: #2AE9DAff;
    --screamin-green: #86F363ff;
}

nav {
    width: 100%;
    height: 60px;
    background: linear-gradient(90deg, #2AE9DAff, #86F363ff);
    padding: 10px 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h2 {
    text-transform: uppercase;
    font-size: 33px;
}

header i {
    cursor: pointer;
}

.changeColor {
    background-color: black;
}


body {
    background: var(--bg);
}

.container {
    max-width: 1200px;
    margin: auto;
}

.todoListbox {
    text-align: center;
    padding: 20px 0;
}

.todoListbox input {
    background-color: var(--task-bg);
    padding: 10px;
    border: 1px solid #000;
    outline: none;
    margin: 10px 0;
    width: 400px;
}

.addBtn {
    background: linear-gradient(90deg, #2AE9DAff, #86F363ff);
    padding: 5px 30px;
    border-color: transparent;
    cursor: pointer;
}

.addBtn:hover {
    transform: scale(1.1);
}

.tasksbox {
    display: flex;
    flex-wrap: wrap;
}

section {
    background: var(--bg);
    width: 200px;
    margin: 20px;
    height: 200px;
    overflow-x: auto;
    position: relative;
}

section h3 {
    display: block;
    padding: 10px;
    background: linear-gradient(90deg, #2AE9DAff, #86F363ff);
    position: sticky;
    top: 0;
}

section p {
    padding: 10px;
}


section .tools {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

section .tools i {
    padding: 0 3px;
    color: rgb(77, 77, 77);
    cursor: pointer;
}

section .tools i:hover {
    color: #000;
}